<nb-card>
    <nb-card-header>
        Historique des analyses de la productivité
    </nb-card-header>

    <nb-card-body>
        <div class="button-container">
            <button status="success" outline nbButton (click)="exportexcel()">Exporter en Excel <nb-icon icon="download-outline"></nb-icon></button>
            <button status="info" outline nbButton (click)="exportCSV()">Exporter en CSV <nb-icon icon="download-outline"></nb-icon></button>
        </div>
        <table id="excel-table" class="table table-bordered">
            <thead>
                <tr>
                    <th (click)="sortAnalysesById()">ID</th>
                    <th (click)="sortAnalysesByCodeMission()">Code Mission</th>
                    <th>Date</th>
                    <th (click)="sortAnalysesByNomUnite('nomUnite')">Unité analysée</th>
                    <th>Consultant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data1">
                    <td>{{ item.id }}</td>
                    <td>{{ item.codeMission }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.nomUnite }}</td>
                    <td>{{ item.nomConsultant }}</td>
                    <td>
                        <button nbButton ghost status="primary"><nb-icon icon="edit-outline" (click)="openWindowForm(item.id)"></nb-icon></button>
                        <button nbButton ghost status="danger"><nb-icon icon="trash-outline" (click)="deleteAnalyse(item.id)"></nb-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>