<div class="steppers-container row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step [stepControl]="firstForm" label="Étape 1">
            <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
              <p class="lorem">
                Quel est le nom de l’unité ?
              </p>
              <div class="input-group">

                <input type="text" placeholder="Nom" class="form-control small-input" formControlName="firstCtrl"
                  style="width: 200px;"
                  [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}" [(ngModel)]="unite.name">
              </div>
              <br>
              <br>
              <p class="lorem">
                Quel est la taille de l’unité ?
              </p>
              <div class="input-group">
                <input type="text" placeholder="Taille" class="form-control" formControlName="firstCtrl"
                  [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}" [(ngModel)]="unite.nbEmployees" >
              </div>
              <button type="submit" nbButton nbStepperNext>Suivant</button>
            </form>
          </nb-step>

          <!-- <nb-step [stepControl]="secondForm" label="Second step">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
              <p class="lorem">
                Pellentesque we gonna chung tortor.
                Sizzle pizzle. Fizzle izzle dolor dapibus fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus tempor.
                Maurizzle cool nibh owned turpizzle. My shizz fo shizzle tortor.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter favorite movie" class="form-control" formControlName="secondCtrl"
                       [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step> -->

          <nb-step [stepControl]="secondForm" label="Second step">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
              <nb-card>
                <nb-card-header>Selectionnez les activités de l'unité</nb-card-header>
                <nb-card-body>
                  <div>
                    <p class="lorem">
                      B2B
                    </p>
                    <nb-select selected="1" multiple>
                      <nb-option value="1">Signer des contrats</nb-option>
                      <nb-option value="2">Approcher les prospects</nb-option>
                      <nb-option value="3">Identifier les prospects</nb-option>
                    </nb-select>
                  </div>
                  <br><br>
                  <div>
                    <p class="lorem">
                      Transformation et innovation
                    </p>
                    <nb-select selected="1" multiple>
                      <nb-option value="1">Exécuter des projets de transformation digitale</nb-option>
                      <nb-option value="2">Faire évoluer le taux de satisfaction des clients</nb-option>
                    </nb-select>
                  </div>
                  <br><br>
                  <div>
                    <p class="lorem">
                      Service client
                    </p>
                    <nb-select selected="1" multiple>
                      <nb-option value="1">Traiter les réclamations des clients</nb-option>
                      <nb-option value="2">Répondre aux questions des clients sur les produits et services de
                        l’opérateur</nb-option>
                    </nb-select>
                  </div>
                </nb-card-body>
              </nb-card>
              <button nbButton nbStepperPrevious>Précédant</button>
              <button nbButton nbStepperNext>Suivant</button>
            </form>
          </nb-step>

          <!-- <nb-step [stepControl]="thirdForm" label="Third step">
            <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
              <p class="lorem">
                Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta platea dictumst. Check it out pot.
              </p>
              <div class="input-group">
                <input type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                  [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
              </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>Confirm</button>
            </form>


          </nb-step> -->

          <nb-step [stepControl]="thirdForm" label="Third step">

            <div class="col-md-12 col-xxl-12 col-xxxl-12">

              <nb-card>
                <nb-card-header>Valeurs des drivers des productivité</nb-card-header>
                <nb-list nbInfiniteList listenWindowScroll>
                  <nb-list-item *ngFor="let act of activitiesList">

                    <div class="center-labels">
                      <label>
                        Combien d’employés travaillent sur l’activité ?
                        <input type="text" placeholder="{{act}}" class="form-control" formControlName="firstCtrl"
                          [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                      </label>
          
                      <label>
                        Quelle est la valeur du driver de productivité ?
                        <input type="text" placeholder="Valeur du driver" class="form-control" formControlName="firstCtrl"
                          [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
                      </label>
                    </div>
                  
                  </nb-list-item>
                </nb-list>
              </nb-card>
              <button nbButton nbStepperPrevious>Précédant</button>
              <button nbButton nbStepperNext>Suivant</button>
            </div>
          </nb-step>

          <!-- <nb-step [stepControl]="thirdForm" [hidden]="true" label="Thirs step">
            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>
          </nb-step> -->

          <nb-step [stepControl]="fourthForm" label="Fourth step">
            <nb-card-header>Résultat de l’analyse avancée</nb-card-header>
            <div class="col-md-12 col-xxl-12 col-xxxl-12">

              <!-- <p>Min value: <input type="number" [(ngModel)]="minValue"></p>
              <p>Max value: <input type="number" [(ngModel)]="maxValue"></p> -->
              <br>
              <p>Identifier les clients prospects stratégiques</p>
              <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
            </div>
            <div class="col-md-12 col-xxl-12 col-xxxl-12">
              <br>
              <p>Présenter les produits et services de l’opérateur aux clients prospects</p>
              <ngx-slider [(value)]="minValue1" [(highValue)]="maxValue1" [options]="options"></ngx-slider>
            </div>
            <div class="col-md-12 col-xxl-12 col-xxxl-12">
              <br>
              <p>Intervenir sur le plus de pannes possible</p>
              <ngx-slider [(value)]="minValue2" [(highValue)]="maxValue2" [options]="options"></ngx-slider>
            </div>
            <div class="col-md-12 col-xxl-12 col-xxxl-12">
              <br>
              <p>Effectuer des changements sur le réseau</p>
              <ngx-slider [(value)]="minValue3" [(highValue)]="maxValue3" [options]="options"></ngx-slider>
            </div>
            <div class="col-md-12 col-xxl-12 col-xxxl-12">
              <br>
              <p>Monitoring de la performance réseau</p>
              <ngx-slider [(value)]="minValue4" [(highValue)]="maxValue4" [options]="options"></ngx-slider>
            </div>
            <div class="col-md-12 col-xxl-12 col-xxxl-12">
              <br>
              <p>Implémenter les mesures de sécurité réseau (SOC)</p>
              <ngx-slider [(value)]="minValue5" [(highValue)]="maxValue5" [options]="options"></ngx-slider>
            </div>
            <button nbButton nbStepperPrevious>Précédant</button>
            <button nbButton nbStepperNext>Suivant</button>
          </nb-step>

          <nb-step [stepControl]="fourthForm" [hidden]="true" label="Fourth step">
            <div class="step-container">
              <h3>Wizard completed!</h3>
              <button nbButton (click)="stepper.reset()">Try again</button>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>