.scrollable-card {
    max-height: calc(100vh - 100px); /* Adjust the value as needed */
    overflow-y: auto;
  }

  .window-limited-height {
    max-height: 90vh !important;
  }

  .max-height-modal {
    max-height: 650px; 
    overflow-y: auto; 
  }